<div class="container">
  <h1 id="score">Score: <%= @score %></h1>
  <h4 id="time">Time: <%= @time %>s</h2>
  <p id="message"><%= @message %></p>

  <%= link_to "Play again", root_path, class: "again-btn" %>
</div>
